In [1]:
%%html
<style>
@import url('https://fonts.googleapis.com/css?family=Orbitron');
h1, h2 {color:#3636ff; font-size:110%; font-family:'Orbitron'; text-shadow:5px 5px 5px #aaa;}
p, a {color:darkblue; font-size:120%; text-shadow:5px 5px 5px #aaa;}
</style>

# Tabulating of Function Values under Certain Conditions
Calculate chosen 20 values of an integer function f(K) for an integer argument K in the segment (-30,60).

Display those values which have satisfied conditions and the number of other values among chosen 20.

In [9]:
def F(k): return k^3-25*k^2+50*k+1000
def create_table(values,cond,a,b,m):
    t=[['k','f(k)']]; c=0; s='<left>Number of others: %d</left>'
    for k in values:
        if cond(F(k),a,b,m): t.append([k,F(k)])
        else: c+=1
    show(table(t)); pretty_print(html(s%c))
def C21(v,a,b,m):
    if (v<=abs(a+b+m))&(v<0)&(v<-(a+b)/m): return True
    if (v<=abs(a+b+m))&(v>=0): return True
    return False
A,B,M=3*10^4,6*10^4,4; k1,k2=-30,60; 
var('k'); pretty_print(html('$f(k)=%s$'%str(k^3-25*k^2+50*k+1000))) 
K=sample(range(k1,k2),20); pretty_print('K=%s'%str(K))
create_table(K,C21,A,B,M)

'K=[21, 28, -14, 14, 40, 13, -16, 34, 32, 46, 26, 24, 35, 8, 3, 38, 0, 6, -22, -18]'

  k     f(k)
  21    286
  28    4752
  40    27000
  34    13104
  32    9768
  46    47736
  26    2976
  24    1624
  35    15000
  8     312
  3     952
  38    21672
  0     1000
  6     616
  -22   -22848