In [1]:
%%html
<style>
@import url('https://fonts.googleapis.com/css?family=Orbitron');
h1, h2 {color:#3636ff; font-size:110%; font-family:'Orbitron'; text-shadow:5px 5px 5px #aaa;}
p, a {color:darkblue; font-size:120%; text-shadow:5px 5px 5px #aaa;}
</style>

# Tabulating of Function Values under Certain Conditions
Calculate chosen 20 values of an integer function f(K) for an integer argument K in the segment (-30,60).

Display those values which have satisfied conditions and the number of other values among chosen 20.

In [1]:
def F(k): return k^3-25*k^2+50*k+1000
def create_table(values,cond,a,b,m):
    t=[['k','f(k)']]; c=0
    s='<left>Number of others: %d</left>'
    for k in values:
        if cond(F(k),a,b,m): t.append([k,F(k)])
        else: c+=1
    show(table(t)); pretty_print(html(s%c))
def C21(v,a,b,m):
    c1=(abs(v)<=a+b+m)&(v<0)&(v<-(a+b)/m)
    c2=(abs(v)<=a+b+m)&(v>=0)
    if (c1 or c2): return True
    return False
N,A,B,M=20,3*10^4,6*10^4,4
var('K'); K1,K2=-29,60 
pretty_print(html('f(K)=%s'%str(K^3-25*K^2+50*K+1000)))
K=sample(range(K1,K2),N)
pretty_print(html('K=%s'%K))
create_table(K,C21,A,B,M)

f(K)=K^3 - 25*K^2 + 50*K + 1000

K=[28, 25, 31, -5, -19, -15, -17, 19, 27, 43, -9, -6, 20, 6, 24, 15, 18, 33, -4, -13]

  k    f(k)
  28   4752
  25   2250
  31   8316
  -5   0
  27   3808
  43   36432
  20   0
  6    616
  24   1624
  33   11362
  -4   336