In [1]:
%%html
<style>
@import url('https://fonts.googleapis.com/css?family=Orbitron');
h1, h2 {color:#3636ff; font-size:110%; font-family:'Orbitron'; text-shadow:5px 5px 5px #aaa;}
p, a {color:darkblue; font-size:120%; text-shadow:5px 5px 5px #aaa;}
</style>

# Processing of One-Dimensional Arrays by One Cycle
Create an algorithm and a program

In [3]:
#20
X=[randint(1,99) for i in [0..10]]
Y=[X[0]*X[i] for i in [1..len(X)-1]]
table([[html(ascii_art(X)),'=>',html(ascii_art(Y))]])

  [ 17, 55, 74, 77, 10, 18, 4, 90, 24, 77, 27 ]   =>   [ 935, 1258, 1309, 170, 306, 68, 1530, 408, 1309, 459 ]

In [22]:
#21
def sum_arr(X):
    T=[X[0]]
    for i in [1..len(X)-1]: T.append(T[i-1]+X[i])
    return T
X1=["♔","♕","♖","♗","♘","♙"]; X2=[randint(1,99) for i in [0..10]]
t=[['string summation'],[html(ascii_art(X1)),' => ',html(ascii_art(sum_arr(X1)))]]; 
t+=[['number summation'],[html(ascii_art(X2)),'=>',html(ascii_art(sum_arr(X2)))]]
table(t)

  string summation
  [ ♔, ♕, ♖, ♗, ♘, ♙ ]
  number summation
  [ 49, 15, 88, 39, 86, 23, 21, 4, 32, 28, 75 ]

In [34]:
#22
V=0; N=10; R=[round(random()*1000,2) for i in [0..N]]
H=[round(2*random()*R[i],2) for i in [0..N-1]]
for i in [0..N-1]: V+=pi*H[i]^2*(R[i]-H[i]/3)
t=[['radiuses',html(ascii_art('%s'%R))],
   ['heights',html(ascii_art('%s'%H))],
   ['volume',html(ascii_art('%s'%[V,V.n()]))]]
table(t)

  radiuses   [516.27, 635.28, 754.32, 448.25, 848.66, 239.82, 669.11, 153.69, 801.31, 134.87, 411.95]
  heights    [601.4, 1033.25, 1319.66, 666.76, 1075.33, 432.38, 1082.11, 93.94, 1459.74, 245.06]
  volume     [2693595696.302123*pi, 8.46218045124383e9]